<div class="container">
  <div class="circles"></div>
  <div class="details-container">
    <div class="avatar">
      <img src="https://i.suar.me/l3zYA/l" class="img-fluid" alt="">
    </div>
    <div class="about">
      <div class="name">
        <p>
          CENGİZ İNŞAAT
        </p>
        <h1>
          KÜRESEL VE ÖNCÜ BİR MARKA
        </h1>
      </div>
      <div class="about-content">
        <p>
          Cengiz İnşaat, tamamlanan ve devam eden proje değerine bakıldığında Türkiye’nin büyük ölçekli altyapı projelerini üstlenen, önde gelen inşaat kuruluşlarından biridir. Şirket’in kurulduğu yıllarda Türkiye’deki altyapı çalışmaları yurt dışından firmalar tarafından üstlenilirken, bugün Cengiz İnşaat hem ülkemizde hem de uluslararası pazarda Batılı kuruluşların rakibi haline geldi. Başarı grafiğini Türkiye ve yurt dışındaki projeleri ile yukarılara taşımaya devam eden Şirket, Cumhuriyet tarihinin en büyük yatırımı olan İstanbul Havalimanı Yap-İşlet-Devret Projesi’nin yapımı ve 25 yıllık işletme hakkını da kendi liderliğinde kurulmuş olan Ortak Girişim Grubu ile 2013’te kazandı. Cengiz İnşaat’ın sağlam konumunun arkasında; güçlü finansman yapısı, piyasa güvenilirliği ve kalite anlayışı yer alıyor. Şirket’in, Türkiye’nin yanı sıra yurt dışında da yerleşmiş imajı, küresel bir marka olarak kendi yolunda emin adımlarla yürümesini sağlıyor.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
