<div class="navbar">
  <input type="checkbox" id="navbar-checkbox">
  <div class="navbar-header">
    <div class="navbar-title" (click)="anaSayfa()">
      KARA iNŞAAT
    </div>
  </div>
  <div class="navbar-responsive-button">
    <label for="navbar-checkbox">
      <span class="hamburger-icon"></span>
      <span class="hamburger-icon"> </span>
      <span class="hamburger-icon"></span>
    </label>
  </div>
  <div class="navbar-links">
    <a href="hakkimizda">Hakkımızda</a>
    <a href="#Shop">Yapılan Hizmetler</a>
    <a href="#Contact">İletişim</a>
  </div>
</div>
<router-outlet></router-outlet>
